In [4]:
import kagglehub
from kagglehub import KaggleDatasetAdapter
data = kagglehub.dataset_load(
  KaggleDatasetAdapter.PANDAS,
  "vibishananandhan/mall-customer-classification-using-k-means",
  "Mall_Customers.csv")

In [5]:
data.head()

   CustomerID   Genre  Age  Annual_Income_(k$)  Spending_Score
0           1    Male   19                  15              39
1           2    Male   21                  15              81
2           3  Female   20                  16               6
3           4  Female   23                  16              77
4           5  Female   31                  17              40

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CustomerID          200 non-null    int64
 1   Genre               200 non-null    object
 2   Age                 200 non-null    int64
 3   Annual_Income_(k$)  200 non-null    int64
 4   Spending_Score      200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB

In [10]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data['Genre'] = le.fit_transform(data['Genre'])

In [8]:
data.head()

   CustomerID  Genre  Age  Annual_Income_(k$)  Spending_Score
0           1      1   19                  15              39
1           2      1   21                  15              81
2           3      0   20                  16               6
3           4      0   23                  16              77
4           5      0   31                  17              40

In [9]:
x = data[['Age', 'Annual_Income_(k$)', 'Spending_Score']]
print(x.head())

   Age  Annual_Income_(k$)  Spending_Score
0   19                  15              39
1   21                  15              81
2   20                  16               6
3   23                  16              77
4   31                  17              40

In [ ]:
from sklearn.cluster import DBSCAN

In [ ]:
eps_values = [10, 12, 15]
min_samples_values = [3, 4, 5, 6]

results = []

for eps in eps_values:
    for min_samples in min_samples_values:
        dbscan = DBSCAN(eps=eps, min_samples=min_samples, metric="euclidean")
        clusters = dbscan.fit_predict(x)
        
        n_clusters = len(np.unique(clusters[clusters != -1]))
        n_noise = np.sum(clusters == -1)
        
        results.append({
            'eps': eps,
            'min_samples': min_samples,
            'n_clusters': n_clusters,
            'n_noise': n_noise
        })

In [ ]:
db=DBSCAN(eps=15,min_samples=3,metric="euclidean")

In [ ]:
model=db.fit(x)

In [ ]:
label=model.labels_

In [ ]:
label

In [ ]:
import matplotlib.pyplot as plt
plot_df = x.copy()
plot_df['Cluster'] = label

plt.figure(figsize=(10, 7))
plt.scatter(x=plot_df['Age'],y=plot_df['Spending_Score'],c=plot_df['Cluster'],cmap='viridis',s=100)
plt.title('DBSCAN')
plt.xlabel('Age')
plt.ylabel('Spending Scor')
plt.show()